
CinematX/CinematX\.xcodeproj/project\.xcworkspace/xcuserdata/adamlonda\.xcuserdatad/UserInterfaceState\.xcuserstate

CinematX/CinematX\.xcodeproj/xcuserdata/adamlonda\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
